@mixin fontSettings {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin alertTransition {

  .alert-enter-active,
  .alert-leave-active {
    transition: 0.2s;
  }

  .alert-enter,
  .alert-leave-to {
    opacity: 0;
  }
}